<header class="main-header">
    <div id="main-header-nav">
        <a href='/' class="main-header-logo">
            <img src="/img/logo/MindOfMusic_Logo.png" alt="Mind of Music">
        </a>
        <nav>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">team</a>
            <a href="#">work</a>
            <a href="#">referenzen</a>
            <a href="#">contact</a>
        </nav>
    </div>
    <div id="main-header-image">
        <img src="/img/background/Workplace_Logo.jpg">
    </div>
</header>