<section class="content">
    <h1>Referenzen</h1>
    <div id="referenzen-grid">
        <div>
            <h2>companies</h2>
            <ul>
                <li ><span>Ada-Global</span></li>
                <li ><span>Audiolith</span></li>
                <li ><span>BMG Rights</span></li>
                <li ><span>Boysnoize Records</span></li>
                <li ><span>Clouds Hill</span></li>
                <li ><span>Cooperative Music</span></li>
                <li ><span>City Slang &amp; Souterrain Transmissions</span></li>
                <li >Four Music</li>
                <li ><span>Edel Records&nbsp;</span></li>
                <li ><span>Grönland</span></li>
                <li ><span>In Gute Hände</span></li>
                <li ><span>Kartel Ltd</span></li>
                <li ><span>Morr Music</span></li>
                <li ><span>Motor Entertainment GmbH</span></li>
                <li ><span>Napalm Records</span></li>
                <li ><span>Nettwerk Music Group</span></li>
                <li ><span>Odyssey Music Network</span></li>
                <li ><span>One Little Indian</span></li>
                <li ><span>Partisan Records</span></li>
                <li ><span>Secretly Canadian</span></li>
                <li ><span>Sony Music</span></li>
                <li ><span>Sub Pop Records</span></li>
                <li ><span>Trocadero Records</span></li>
                <li >Ultra Records</li>
                <li ><span>Universal Music International</span></li>
                <li ><span>Universal Music Domestic</span></li>
                <li ><span>Warner Music</span></li>
                <li ><span>Xtra Mile Recordings</span></li>
                <li ><span>u.a.</span></li>
            </ul>
        </div>
        <div>
            <h2>artist national</h2>
            <ul>
                <li><span>Allie</span></li>
                <li><span>Anna F.</span></li>
                <li><span>Astrid North</span></li>
                <li><span>Boys Noize</span></li>
                <li><span>Bratze</span></li>
                <li><span>Captain Capa</span></li>
                <li><span>Conny Plank<br>
                </span></li>
                <li>D’ANGEROUS</li>
                <li>DAT ADAM</li>
                <li>Die Boys</li>
                <li>EFF</li>
                <li><span>Egotronic</span></li>
                <li>Elias Hadjeus</li>
                <li><span>Emigrate</span></li>
                <li><span>Emil Bulls</span></li>
                <li><span>Enno Bunger</span></li>
                <li><span>Eveline Hall</span></li>
                <li>Fahrenhaidt</li>
                <li><span>Feeling Like A Million</span></li>
                <li><span>Felix Jaehn</span></li>
                <li><span>Frittenbude</span></li>
                <li>Good Weather Forecast</li>
                <li><span>Helloween</span></li>
                <li><span>In Extremo</span></li>
                <li><span>K.I.Z.</span></li>
                <li>Körner</li>
                <li><span>Labrassbanda</span></li>
                <li><span>Le Very</span></li>
                <li>MarieMarie</li>
                <li><span>Matthias Arfmann „Ballet Jeunesse“<br>
                </span></li>
                <li><span>Mister Santos</span></li>
                <li><span>Montreal</span></li>
                <li><span>Mueller-Roedelius</span></li>
                <li><span>Neonschwarz</span></li>
                <li><span>Neu!</span></li>
                <li>Nisse</li>
                <li><span>Nörd</span></li>
                <li><span>Odeville</span></li>
                <li><span>Olli Schulz</span></li>
                <li><span>Phillip Boa And The Voodooclub</span></li>
                <li>Pohlmann</li>
                <li>Radiant</li>
                <li><span>Roman Lob</span></li>
                <li><span>Slut</span></li>
                <li>The Kiez</li>
                <li>Trails</li>
                <li><span>Tubbe</span></li>
                <li><span>Turbostaat</span></li>
                <li><span>Turntablerockers</span></li>
                <li>XAVI</li>
                <li><span>u.v.a.</span></li>
            </ul>
        </div>
        <div>
            <h2>artist international</h2>
            <ul>
                <li><span>A Perfect Circle</span></li>
                <li>Adiam</li>
                <li><span>Against Me!</span></li>
                <li>Alice In Chains</li>
                <li>Alter Bridge</li>
                <li><span>Ash</span></li>
                <li><span>Asian Dub Foundation</span></li>
                <li>Band Of Skulls</li>
                <li><span>Beach House</span></li>
                <li><span>Beastmilk</span></li>
                <li>blink-182</li>
                <li><span>Bomb The Bass</span></li>
                <li><span>Bosnian Rainbows</span></li>
                <li><span>Boots Electric</span></li>
                <li><span>Breaking Benjamin</span></li>
                <li><span>Brody Dalle</span></li>
                <li><span>Bush</span></li>
                <li><span>Cancer Bats</span></li>
                <li><span>CocoRosie</span></li>
                <li><span>Crystal Castles</span></li>
                <li><span>Dan Mangan</span></li>
                <li>Dinosaur Jr</li>
                <li>Donna Missal</li>
                <li>Fall Out Boy</li>
                <li><span>First Aid Kit</span></li>
                <li>Frank Turner</li>
                <li>Greta Van Fleet</li>
                <li><span>Guster</span></li>
                <li>Helmet</li>
                <li><span>Herman Dune</span></li>
                <li>Jacob Whitesides</li>
                <li><span>James Vincent McMorrow</span></li>
                <li>Jeremy Loops</li>
                <li>Joel Baker</li>
                <li><span>Johnossi</span></li>
                <li><span>Kensington</span></li>
                <li><span>Kashmir</span></li>
                <li><span>Larkin Poe</span></li>
                <li>Life Of Agony</li>
                <li><span>Metric</span></li>
                <li><span>Mika</span></li>
                <li>Mike &amp; The Mechanics</li>
                <li>Monster Magnet</li>
                <li>Myles Kennedy</li>
                <li><span>Nada Surf</span></li>
                <li>Nakhane</li>
                <li><span>Nathaniel Rateliff</span></li>
                <li>Navarone</li>
                <li><span>Noah &amp; The Whale</span></li>
                <li><span>Peaches</span></li>
                <li><span>Purple Souls</span></li>
                <li>Razorlight</li>
                <li><span>Rise Against</span></li>
                <li>Santana</li>
                <li>Simple Creatures</li>
                <li><span>Skindred</span></li>
                <li>Skinny Lister</li>
                <li><span>Smashing Pumpkins</span></li>
                <li><span>Soulsavers with Dave Gahan</span></li>
                <li><span>Soundgarden</span></li>
                <li><span>Steaming Satellites</span></li>
                <li>Steve Aoki</li>
                <li><span>Suede</span></li>
                <li>Tenacious D</li>
                <li><span>Teitur</span></li>
                <li><span>The Afghan Whigs</span></li>
                <li>The Cadillac Three</li>
                <li><span>The Cat Empire</span></li>
                <li><span>The Coral</span></li>
                <li><span>The Dodos</span></li>
                <li><span>The Offspring</span></li>
                <li>The Prodigy</li>
                <li><span>The Rifles</span></li>
                <li><span>The Sounds</span></li>
                <li>Tim Schou</li>
                <li>Tom Morello</li>
                <li><span>Tora</span></li>
                <li><span>Trentemøller</span></li>
                <li><span>Triggerfinger</span></li>
                <li><span>Vista Chino</span></li>
                <li><span>Vulcano Choir</span></li>
                <li><span>We Are The Ocean</span></li>
                <li>Will Varley</li>
                <li><span>William Fitzsimmons</span></li>
                <li><span>Yoav</span></li>
                <li><span>Young Galaxy</span></li>
                <li><span>Zola Jesus</span></li>
                <li><span>u.v.a.</span></li>
            </ul>
        </div>
    </div>
</section>