<section class="content">
    <h1>Team</h1>
    <div class="team-content">
        <img src="/img/about/Me-560x420.jpg">
        <h2>Knut Clau&szlig;en</h2>
        <h4>Founder</h4>
    </div>
</section>