<section class="content">
    <h1>Work</h1>
    <div class="work-grid">
        <div class="work-item">
            <div class="work-details">
                <span>Album VÖ: 06.09.2019</span>
                <h4>Luca Vasta</h4>
                <h3>Stella</h3>
                <p>music</p>
            </div>
            <img src="/img/work/Albumcover-Luca-Vasta-Stella-600x600.jpg">
        </div>
        <div class="work-item">
            <div class="work-details">
                <span>Album VÖ: 07.06.2019</span>
                <h4>Perry Farrell</h4>
                <h3>Kind Heaven</h3>
                <p>music</p>
            </div>
            <img src="/img/work/Albumcover-Perry-Farrell-Kind-Heaven-600x600.jpg">
        </div>
        <div class="work-item">
            <div class="work-details">
                <span>Album VÖ: 26.04.2019</span>
                <h4>Donna Missal</h4>
                <h3>This Time</h3>
                <p>music</p>
            </div>
            <img src="/img/work/Albumcover-Donna-Missal-This-Time-600x600.jpg">
        </div>
        <div class="work-item">
            <div class="work-details">
                <span>Album VÖ: 05.04.2019</span>
                <h4>Mike &amp; The Mechanics</h4>
                <h3>Out Of The Blue</h3>
                <p>music</p>
            </div>
            <img src="/img/work/Singlecover-Mike-The-Mechanics-Out-Of-The-Blue-600x600.jpg">
        </div>
    </div>
</section>